

.main-list {
background: rgba(180, 16, 16, 0.57);
width: 65px;
padding: 10px 0px 10px 7px;
-webkit-border-radius: 5px; /* Border-radius wiht the browser prefix (more advanced, good to include when using border-radius) */
     border-radius: 5px; 
}


body {
     color: white;  /* set the font color to white for all the content between the HTML <body></body> tags  */
     font-size: 16px; /* specify the default font size for your site */

     /* set up a background image */
     background: url('http://images5.fanpop.com/image/photos/27500000/Lotus-Flower-dance-radiohead-27519335-1440-900.jpg') no-repeat;

     /* the follow is the code to have the image display as a full page */
     background-position: center;
     background-attachment: fixed;
     -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

h1 {
     margin: 0px;
     font-size: 80px;
     font-family: helvetica, arial;
}

h2 {
     margin: 0px;
     font-size: 20px;
     font-family: helvetica, arial;
}


h3 {
     margin: 0px;
     font-size: 20px;
     font-family: helvetica, arial;
}

a {
     color: #e5b362;
     text-decoration: none;
}

a:link    {color:#e5b362;}
a:visited {color:#e5b362;}
a:hover   {color:#fbfaf3;}
a:active  {color:#e5b362;}


/* Layout */


#container {
     margin-top: 18%;
     padding: 25px; /* add a bit of padding around all the content inside our container */
     background: rgba(104, 58, 62, 0.58); /* set the container's background to black */
     width: 100%;
}